.woocommerce-account,
.woocommerce-checkout {
    input {
        &[type='text'],
        &[type='password'],
        &[type='email'],
        &[type='tel'] {
            display: block;
            max-width: 400px;
            width: 100%;
        }
    }
    
    label {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        
        + input {
            margin-top: 15px;
        }
    }
    
    .woocommerce-form__label {
        &.inline {
            margin-left: 10px;
        }
    }
    
    .col2-set {
        @include grid-container;
        width: 100%;
    }
    
    .col-1 {
        @include grid-media($tablet-landscape) {
            float: left;
            width: 50%;
            padding-right: 40px;
        }
    }
    
    .col-2 {
        @include grid-media($tablet-landscape) {
            float: left;
            width: 50%;
        }
    }
    
    .site-main {
        article {
            max-width: none;
        }
    }
    
    fieldset {
        margin-top: 80px;
        margin-bottom: 40px;
        border-style: solid;
        border-color: $lightgray;
        padding-left: 40px;
        padding-bottom: 40px;
        
        legend {
            font-size: 20px;
            padding: 0 10px;
        }
    }
    
    .woocommerce-additional-fields__field-wrapper,
    .form-row-wide {
        margin: 50px 0;
    }
    
    .shop_table {
        margin-bottom: 60px;
        
        thead {
            text-align: left;
            text-transform: uppercase;
        }
    }
    
    .button {
        &.view {
            padding: 10px 20px;
        }
    }
}

.woocommerce-notice {
    margin: 40px 0;
}

.woocommerce-checkout-payment {
    ul {
        padding-left: 0;
    }
}

.woocommerce-cart,
.woocommerce-account,
.woocommerce-checkout {
    .site-main {
        article {
            max-width: none;
        }
    }
}

.woocommerce-cart-form {
    .product-thumbnail {
        &::before {
            display: none;
        }
    }
    
    .product-subtotal {
        padding-bottom: 40px;
        
        @include grid-media($tablet-landscape) {
            padding-bottom: 0;
        }
    }
    
    .button {
        background-color: $white;
        color: $hot-pink;
        border: 2px solid $hot-pink;
        
        &:hover {
            color: $hot-pink;
        }
    }
}

.woocommerce-MyAccount-navigation {
    margin-bottom: 60px;
}

.woocommerce-Message {
    .button {
        margin-right: 30px;
    }
}
