/**
 * Checkout
 */
@media screen and (min-width: 768px) {
	.col2-set {
		.form-row-first {
			float: left;
			margin-right: $columns__margin;
		}

		.form-row-last {
			float: right;
			margin-right: 0;
		}

		.form-row-first,
		.form-row-last {
			@include column-width(2);
		}
	}
}

.woocommerce-cart-form {
	thead {
		th {
			padding-bottom: 40px;
		}
	}
	
	tbody {
		tr:not(.cart_item) {
			td {
				text-align: right;
			}
		}
	}
}

.cart-collaterals {
	@include grid-container;
}

.woocommerce-checkout-review-order {
	width: 50%;
}

.wc_payment_methods.payment_methods {
	li {
		list-style-type: none;
	}	
}

.wc_payment_method.payment_method_paypal {
	img {
		display: none;
	}
}

.shop_table {
	.coupon {
		&,
		.input-text {
			margin-bottom: 30px;
		}
		
		input {
			margin-right: 30px;
		}
	}
}

.wc-proceed-to-checkout {
	text-align: center;
}

.product-remove {
	a {
		text-decoration: none;
	}
}

.cart-collaterals { 
	margin-top: 100px;
}

.woocommerce-cart-form__cart-item  {
	td {
		padding-right: 10px;
		padding-left: 10px;
	}
	
	.product-thumbnail {
		width: 150px;
	}
	
	.product-quantity {
		width: 150px;
		padding-right: 50px;
	}
}


// TO DO remove this
.variations_form.cart {
	display: none;
}