$black: #000;
$white: #fff;
$hot-pink: #e72b91;
$hot-pink-hover: #e153a0;
$gray: #757575;
$pink: #ffafda;
$lightgray: #f2f2f2;
$mediumgray: #a0a0a0;
$shadegray: #434343;
$darkgray: #232323;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $hot-pink;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-secondary: $black;
$color__background-tertiary: #1a1a1a;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $hot-pink;
$color__link-visited: $hot-pink;
$color__link-hover: $pink;
$color__text-main: #404040;
$color__main-navigation-link: $pink;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $hot-pink;
$color__border-abbr: #666;
