// recent posts

.recent-posts {
    &__container {
        background-color: $lightgray;
        margin-bottom: 110px;
        padding-top: 90px;
        padding-bottom: 90px;
        
        ul {
            margin-bottom: 40px;
            padding-bottom: 35px;
        }
    }
    
    &__button-container {
        margin-bottom: -130px;
        text-align: center;
    }
    
    &__title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        color: $darkgray;
        margin-top: 25px;
        margin-bottom: 25px;
        
        @include grid-media($tablet-landscape) {
            margin-top: 0;
        }
    }
    
    &__meta {
        position: absolute;
        font-size: 14px;
        bottom: 22px;
        width: calc(100% - 70px);
        
        .recent-posts__featured & {
            width: calc(100% - 70px);
            width: percentage(310 / 727);
        }
        
        span {
            float: right;
            color: $mediumgray;
        }
    }
    
    &__excerpt {
        font-size: 16px;
        margin-top: 14px;
        margin-bottom: 25px;
        color: $shadegray;
        
        @include grid-media($tablet-landscape) {
            font-size: 14px;
        }
    }
    
    &__thumbnail-container {
        @include grid-media($tablet-landscape) {
            width: percentage(331 / 727);
            float: left;
        }
    }
    
    &__thumbnail {
        @include image-ratio(object-fit--square);
        
        &::before {
	    	position: absolute;
    		width: 100%;
    		height: 100%;
    		top: 0;
    		left: 0;
    		content: '';
	    	transition: opacity .3s ease-in;
	    	opacity: 0;
	    	z-index: 1;
	    	pointer-events: none;
	    }
    }
    
    &__content {
        @include grid-container;
        padding: 22px 35px;
        
        @include grid-media($tablet-landscape) {
            float: left;
            width: percentage(395 / 727);
        }
    }
    
    &__featured {
        @include grid-container;
        border-top: 3px solid $pink;
    }
    
    .recent-posts__container {
        ul {
            padding-bottom: 35px;
        }
    }
    
    h1 {
        text-align: center;
        margin-top: 105px;
    }
    
    ul {
        padding: 0;
        margin: 0 5%;
        list-style: none;
        
        @include grid-media($tablet-landscape) {
            margin-right: 10%;
            margin-left: 10%;
            columns: 2;
        }
    }
    
    li {
        position: relative;
        background-color: white;
        margin-bottom: 24px;
        padding: 22px 35px;
        break-inside: avoid;
        
        @include grid-media($tablet-landscape) {
            min-height: 120px;
        }
        
        &.recent-posts__featured {
            min-height: unset;
            padding: 0;
        }
    }
    
    a {
        text-decoration: none;
        
        &:hover {
	    	.recent-posts__thumbnail {
	    	    &::before {
    	    		position: absolute;
    	    		background-image: linear-gradient($hot-pink, blue);
    	    		opacity: .8;
    	    		mix-blend-mode: color;
    	    	}
	    	}
	    }
    }
}
